img
{
    display: inline-table;
    margin: 30px;
    border: 1px solid black;
    border-radius: 75px 75px 75px 75px;
    height: 20%;
    width: 20%;
    text-align: right;
}

#imag
{
    text-align: center;
}

#ultimaimg
{
    text-align: center;
}